body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, Tahoma, Verdana, sans-serif;
}

div.top {
    background-color: #1f2937;
    color: white;
}

div.header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
}

div.logo {
    margin-left: 300px;
    font-size: 24px;
    color: #f9faf8;
}

div.navigation {
    margin-right: 400px;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

div.hero {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

div.description {
    width: 500px;
}

div.description p {
    margin-top: 0;
}

div.description h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 0;
    margin-top: 0;
}

div.hero div.description button {
    background-color: #3882f6;
    padding: 5px 20px;
    font-weight: bold;
    color: #e5e7eb;
    border: 0;
    border-radius: 5px;
}

div.hero div.image {
    display: flex;
    background-color: #555;
    width: 500px;
    margin-right: 400px;
    justify-content: center;
    align-items: center;
}

div.hero div.image p {}

div.testimonial {
    background-color: #e5e7eb;
}

div.footer {
    background-color: #1f2937;
    color: white;
}