body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, Tahoma, Verdana, sans-serif;
}

div.top {
    background-color: #1f2937;
    color: white;
    padding-left: 400px;

}

div.header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
}

div.logo {
    font-size: 24px;
    color: #f9faf8;
}

div.navigation {
    margin-right: 400px;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

div.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

div.description {
    width: 500px;
}

div.description h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 0;
    margin-top: 0;
}

div.description p {
    margin-top: 0;
    font-size: 18px;
    color: #e7e5eb;
}

div.hero div.description button {
    background-color: #3882f6;
    padding: 5px 0;
    font-weight: bold;
    color: #e5e7eb;
    border: 0;
    border-radius: 5px;
}

button a {
    padding: 0px 20px;
}

div.hero div.image {
    display: flex;
    background-color: #555;
    width: 500px;
    margin-right: 400px;
    justify-content: center;
    align-items: center;
}

div.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

div.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

div.cards {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

div.cardimage {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

div.card p {
    text-align: center;
    margin-top: 8px;
}

div.testimonial {
    background-color: #e5e7eb;
    text-align: left;
    font-style: italic;
    font-size: 30px;
    color: #1f2937;
    padding: 0 570px;
}

div.testimonial p.quote {
    margin-bottom: 0;
}

p.credit {
    text-align: right;
    font-weight: bold;
    font-size: 22px;
    font-style: normal;
    margin-top: 0;
}

div.footer {
    background-color: #1f2937;
    color: white;
}